body{
    background-color: bisque;

}
#head{
    text-align: center;
    font-family: "Redressed", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: 5vmax;
}

#parent1{
    border-top: 2px black solid;
    height: 40vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
     

}

#img{
    border-radius: 20px;
    height: 100%;
    border: 5px rgb(190, 121, 61) soild;
}
#child1{
    width: 30vw;
    padding: 40px;
    align-items:center;
    height: 40vh;
}
#child2{
    width: 65vw;
    height: 40vh;
    font-size: 30px;
    font-weight: lighter;
    padding:20px;
    color:rgb(169, 169, 169);
}

#parent2{
    padding: 20px;
    border-top: 2px black solid;
    
    width: 100vw;
    background-color: black;
    color: white;
    bottom: 0;
    position: absolute;
}
#topic{
    font-size: 60px;
    font-weight: bolder;
    color:black;
}