body{
    background-color: rgb(255, 50, 81);
    display: flex;
    justify-content: center;
}

#parent{
    width: 40vmax;
    height: 95vh;
    opacity: 80%;
    background-color: aliceblue;
    border-radius: 20px;
    padding: 2vmax;
    margin-top: 2.5vh;
    justify-content: space-evenly;
    box-shadow: 0px 5px 70px rgb(78, 0, 12);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
#head{
    font-size: 2vmax;
    font-weight: bolder;
}
textarea{
    resize: none;
    width: 60%;
    height: 10vh;
}
input{
    background-color: transparent;
    border-width: 0px;
    border-style: none;
    border-bottom: 2px rgb(205, 10, 40) solid;
    font-size: 1.2vmax;
    text-align: left;
    width: 100%;
    padding: 5px;
    padding-bottom: 10px;
    margin: 7px;
}
select{
    background-color: transparent;
    border-width: 0px;
    border-style: none;
    border-bottom: 2px rgb(205, 10, 40) solid;
    font-size: 1.2vmax;
    text-align: left;
    width: 100%;
    padding: 5px;
    padding-bottom: 10px;
    margin: 7px;
}

input:hover{
    border-width: 1px;
    border-style:solid;
    border-bottom: 2px rgb(205, 10, 40) solid;

}

button{
    width: 30%;
    height: 7%;
    background-color: rgb(255, 193, 49);
    border-width: 0.5px;
    border-radius: 5px;
    font-size: 20px;
    border: 3px solid rgb(255, 215, 121);
}
button:hover{
    width: 32%;
    height: 7.2%;
    background-color: rgb(255, 235, 189);
}

#head{ 
  font-family: "Redressed", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 35px;
  
}