<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Redressed&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.6.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.6.0/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/live/3.1/firebase.js"></script>
    <link rel="stylesheet" href="../static/work.css"> 
</head>
<body>
    <center>
    <h1 id="head">
        WIW.com
    </h1>
</center>
    <div id="parent1">
        <div id="child1">
            <img src="../static/download.jpeg"  id="img">
        </div>
        <div id="child2">
            <h2 id="topic">Topic</h2>
            <hr>
            <label id="price">Rs Price</label>
            <br>
            <label id="discription">Description</label>
            <br>

            <label>Brand Name :</label>
            <label id="brand">Brand</label>
            <br>
            <label>Product ID : </label>
            <label id="id"> </label>


        </div>
    </div>


    <div id="parent2">
        <h1>Seller Details</h1>
        <br>
        <label>Name :</label><label id="name"></label>
        <br>
        <label>Contact Number :</label><label id="no"></label>
        <br>
        <label>Email ID :</label><label id="email"></label>

    
    </div>
<script src="../static/work.js"></script>
</body>
</html>